#include "optix_types.h"
#include <torch/extension.h>
PYBIND11_MODULE(structs, m)
{
    {% for s in structs %}
    py::class_<{{s.name}}>(m, "{{s.name}}")
        //.def(py::init<{{s.fields | map(attribute='type') | join(', ')}}>())
        .def(py::init<>())
        {% for f in s.fields%}
        .def_readwrite("{{f.name}}", &{{s.name}}::{{f.name}})
        {% endfor %};
    {% endfor %}
}