#include <optix_types.h>
#include <cuda.h>
#include <torch/extension.h>

#include "c_ptr_types.h"


PYBIND11_MODULE(c_pointers, m)
{   
    {% for ptr_type in ptr_types%}
    py::class_<{{pytype(ptr_type)}}>(m, "{{ ptr_name(ptr_type) }}")
        .def(py::init<>());
    {% endfor %}
}
