#include <optix_types.h>
#include <optix_stubs.h>
#include <optix_function_table_definition.h>

#include "c_ptr_types.h"

#include <torch/extension.h>


{% for s in stubs%}
{{s.return_type}} {{s.name}}__({{pyargs(s.args)}})
{
    return {{s.name}}({{callargs(s.args)}});
}
{% endfor %}

PYBIND11_MODULE(c_stubs, m)
{
    {% for s in stubs%}
    {% if s.return_type != "void" %}
    m.def("{{s.name}}", &{{s.name}}__ );
    {% endif %}
    {% endfor %}
}
    

