#include "optix_stubs.h"
#include <torch/extension.h>

PYBIND11_MODULE(types, m)
{
    {% for s in stubs%}
    {% if s.return_type != "void" %}
    m.def("{{s.name}}", []({{s.c_py_arg_string()}}) { {{s.return_type}} rv = {{s.name}}({{s.c_py2c_arg_string()}}); 
                                                     return std::make_tuple(rv, {{ s.c_tuple_input()}}); });
    {% endif %}
    {% endfor %}
}
    

