from ..c_bindings import c_enums

{% for e in enums %}
class {{ e.name }}:
    {% for v in e.values %}
    {{ v.name }} = c_enums.{{ e.name }}.{{ v.name }}
    {% endfor %}
{% endfor %}

{% for e in enums %}
{% for v in e.values %}
{{ v.name }} = {{e.name}}.{{ v.name }}
{% endfor %}
{% endfor %}