from typing import ClassVar
from ..clib import _clib

    
{% for e in enums %}
class {{ e.name }}:
    {% for v in e.values %}
    {{ v.name }} = _clib.{{ e.name }}.{{ v.name }}
    {% endfor %}
{% endfor %}

{% for e in enums %}
{% for v in e.values %}
{{ v.name }} = {{e.name}}.{{ v.name }}
{% endfor %}
{% endfor %}