from dataclasses import dataclass, field, fields
from ..c_bindings import c_structs
class Common:

    def __new__(cls, *args, **kwargs):
        obj = getattr(c_structs, cls.__name__)()
        for k, v in zip(fields(cls), args):
            setattr(obj, k.name, v)
            
        for k, v in kwargs.items():
            setattr(obj, k, v)
        return obj

    
    def to_ptr(self)->'Pointer':
        return self.to_ptr()

{% for s in structs %}
@dataclass
class {{ s.name }}(Common): 
    {% for f in s.fields %}
    {{ f.name }}: '{{ f.type.strip() }}' = field(default=0)
    {% endfor %}
    {% if not s.fields %}
    ...
    {% endif %}
{% endfor %}
 
