from dataclasses import dataclass, field
from ..c_bindings import c_structs
class Common:
    def __new__(cls, **kwargs):
        obj = getattr(c_structs, cls.__name__)()
        for k, v in kwargs.items():
            setattr(obj, k, v)
        return obj
        
{% for s in structs %}
@dataclass
class {{ s.name }}(Common): 
    {% for f in s.fields %}
    {{ f.name }}: '{{ f.type.strip() }}' = 0
    {% endfor %}
    {% if not s.fields %}
    ...
    {% endif %}
{% endfor %}
 
