
{% for s in structs %}
class {{ s.name }}(Common): 
    {% for f in s.fields %}
    {{ f.name }}: '{{ f.type.strip() }}'
    {% endfor %}

{% endfor %}
 
{% for e in enums %}
class {{ e.name }}:
    {% for v in e.values %}
    {{ v.name }}: int
    {% endfor %}

{% endfor %}